.guide-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.03);
}

.guide-list {
  list-style: none;
  padding: 0;
}

.guide-step {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  line-height: 1.5;
}
.levelcap-box::-webkit-scrollbar,
.vm-box::-webkit-scrollbar {
  display: none;
}
